@import 'navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap');
@import 'misc.css';
@import 'filter.css';
@import 'card.css';
@import 'shopping.css';
@import 'checkout.css';
@import 'checkoutItem.css';

:root {
    font-family: 'Manrope', sans-serif;
    --navbar: #111111;
    --white: #F9F9F9;
    --blue: #00a0ba;
    --hover-btn: #333333;
    --search-color: #282828;
    --card-color:#282c34;
    --amazon: #fad676;
    --paypal: #ffc439
}

body {
    margin: 0;
    padding: 0;
}

.App {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page-width {
    height: 100%;
    width: 70%;
}

#search-comp {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    font-family: 'Manrope', sans-serif;
}

.line {
    border: 1px solid #dcdee0;
    width: 90%;
}